* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: transparent;

}

body, html {
  background-color: #181818;
}

a {
  color: inherit;
  text-decoration: none;
  color: #fff;
}

button,
input,
textarea {
  outline: none;
  border: none;
  color: #fff;
  background-color: transparent;
}

button {
  cursor: pointer;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  max-width: 2000px;
}

ul {
  list-style-type: none;
}