.openMenu {
  visibility: hidden;
}

.sidebarContainer {
  display: none;
}

@media (max-width: 1000px) {
  .openMenu {
    visibility: visible;
    transform: rotate(-90deg);
    font-size: 4rem;
  }

  .sidebarContainer {
    position: absolute;
    display: block  ;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(-600px);
    animation: none;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(6px);
    transition: transform 0.8s ease, visibility 0.8s ease;
    visibility: hidden;
  }

  .sidebarContainer.open {
    transform: translateX(0px);
    visibility: visible;
    z-index: 999;
  }

  .sidebarHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    width: 100%;
  }

  .sidebarHeader .closeMenu {
    font-size: 3rem;
  }

  .sidebarBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 78%;
    width: 100%;
    gap: 1rem;
    border-top: 1px solid #505050;
  }

  .list {
    position: relative;
  }

  .listItem {
    font-weight: 400;
    font-size: 2rem;
    padding: 0.2rem 1rem;
  }

  .listItem:before {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #cb3dd4;
    left: 0;
    bottom: 0;
    transition: width 0.6s ease;
  }

  .listItem:hover:before {
    width: 100%;
  }

  .sidebarFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #505050;
    padding: 1.6rem 0;
  }

  .sidebarFooter .socialLinksList {
    display: flex;
    gap: 3rem;
  }

  .sidebarFooter .socialLinksList .socialLink {
    font-size: 2.6rem;
    transition: transform 0.4s ease;
  }

  .sidebarFooter .socialLinksList .socialLink:hover {
    color: #cb3dd4;
  }
}
