.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 4rem;
  margin-top: 8rem;
  gap: 4rem;
}

.brandsContainer {
  display: flex;
  gap: 4rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.brandsContainer .image {
  transition: transform 0.6s ease;
  cursor: pointer;
}

.brandsContainer .image:hover {
  transform: scale(1.1);
}

.list .listItem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list .listItem span {
  position: absolute;
  top: 98px;
  padding: 0.4rem 1.2rem;
  border-radius: 4px;
  background-color: #101010;
  color: #fff;
  width: 160px;
  transition: opacity 0.4s ease;
  text-align: center;
  opacity: 0;
  z-index: 3;
  font-weight: 600;
}

.list .listItem span::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: -20px;
  right: 70px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #101010;
}

.list .listItem:hover span {
  opacity: 1;
}

@media (max-width: 500px) {
  .container {
    padding: 2rem;
  }
}